:root {
    --general-text: #312c27;
    --accent-text: #1f1711;
    --general-bg: #fff9f4;
    --accent-bg: #ffe0cb;
    --accent-color: #ffa55c;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 100px;
}

.body {
    font-family: 'Montserrat', "Arial", sans-serif;
    line-height: 1.5;
    background: var(--general-bg);
    color: var(--general-text);
}

.body--opened-menu {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.main__about {
    padding: 140px 0;
}

.main-education,
.main__gallery,
.main__review {
    padding-bottom: 140px;
}

.container {
    max-width: 1310px;
    /*с учетом паддингов по 15px*/
    margin: 0 auto 0 auto;
    padding: 0 15px;
    height: 100%;
}

.title {
    font-family: 'Gabriola';
    font-size: 74px;
    line-height: 0.82;
    color: var(--accent-text);
}

.button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--accent-color);
    border-radius: 100px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    padding: 3px 15px;
    height: 62px;
    transition: all .4s;
}

.button:hover {
    background: #FF9138;
}

/*========================MODAL============================*/

.modal {
    position: fixed;
    inset: 0;
    background: #00000070;
    z-index: 15;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    opacity: 1;
    visibility: hidden;
    transition: all .4s;
}

.body--opened-modal {
    overflow: hidden;
}

.body--opened-modal .modal {
    opacity: 1;
    visibility: visible;
}

.modal__windows {
    background: var(--general-bg);
    border-radius: 20px;
    padding: 0 60px 60px;
    position: relative;
    max-width: 428px;
}

.modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal__close path {
    transition: all .4s;
}

.modal__close:hover path,
.modal__close:hover rect {
    stroke: #ac907a;
}

.moadal__img {
    margin: -65px 0 15px 13px;
    max-width: 100%;
}

.moddal__title {
    font-family: 'Gabriola';
    font-size: 42px;
    line-height: 0.9;
    color: var(--accent-text);
    margin-bottom: 10px;
}

.modal__form-label {
    margin-bottom: 10px;
}

.field {
    position: relative;
    display: block;
}

.field span {
    position: absolute;
    top: 12PX;
    left: 28px;
    font-size: 11px;
    color: #ac907a;
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
}

.field__input {
    display: block;
    width: 100%;
    background: #00000000;
    border: 1px solid #ac907a;
    border-radius: 100px;
    padding: 19px 41px 19px 28px;
    font-size: 16px;
    transition: all .4s;
}

.field__input::placeholder {
    color: #ac907a;
    transition: all .4s;
}

.field__input:hover {
    border-color: var(--accent-color);
}

.field__input:hover::placeholder {
    color: var(--accent-color);
}

.field__input:focus {
    padding: 26px 41px 12px 28px;
}

.field__input:focus+span {
    opacity: 1;
    visibility: visible;
}

/*========================HEADER============================*/

.header {
    background: url('../img/decor/bg-header.png') 50% 100% / cover no-repeat;
}

.header__top {
    padding-top: 19px;
}

.header__top-inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.header__logo {
    max-width: 174px;
    z-index: 4;
}

.header__logo img {
    width: 100%;
}

.nav__list {
    display: flex;
    gap: 4vh 40px;
}

.nav__link {
    display: block;
    padding: 5px 0px;
    position: relative;
    z-index: 1;
}

.nav__link::before {
    content: '';
    position: absolute;
    top: -9px;
    left: -12px;
    width: 34px;
    height: 34px;
    background: var(--accent-color);
    z-index: -1;
    border-radius: 50%;
    opacity: 0;
    transition: all .37s;
}

.nav__link:hover::before {
    opacity: 1;
}

/*========================Burger menu============================*/
/*палочки бургер меню*/

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    display: block;
    height: 3px;
    width: 30px;
    border-radius: 10px;
    background: var(--accent-text);
    transition: all .5s;
}

.burger-icon span {
    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}

.burger-icon span::before {
    top: -8px;
}

.burger-icon span::after {
    bottom: -8px;
}

.body--opened-menu .burger-icon span::before {
    top: 0px;
    transform: rotate(225deg);
}

.body--opened-menu .burger-icon span::after {
    bottom: 0px;
    transform: rotate(-225deg);
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.header__hero {
    padding: 50px 0 140px;
}

/*========================HERO SECTION===========================*/


.hero__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 30px;
}

.hero__content {
    max-width: 520px;
}

.hero__info {
    display: flex;
    flex-wrap: wrap;
    color: #b197b2;
    text-transform: uppercase;
    line-height: 1.6;
    margin-bottom: 20px;
}

.hero__info span {
    display: flex;
    align-items: center;
}

.hero__info span::after {
    content: '';
    border-radius: 50%;
    width: 4px;
    height: 4px;
    background: #b197b2;
    margin: 0 10px;
    vertical-align: middle;
}

.hero__info span:last-child::after {
    content: none;
}

.hero__title {
    margin-bottom: 30px;
}

.hero__text {
    max-width: 360px;
    margin-bottom: 40px;
}

.hero__button {
    max-width: 360px;
}

.hero__img {
    margin-right: 247px;
    position: relative;
}

.hero__img>img {
    width: 100%;
}

.hero__img-control {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 9%;
    left: calc(100% - 39px);
    max-width: 200px;
    text-align: left;
}

.hero__img-control--mobile {
    display: none;
}

.hero__img-button {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: var(--accent-bg);
    box-shadow: 0 4px 20px 0 #b8947e4d;
    border-radius: 50%;
    width: 78px;
    height: 78px;
}

.hero__img-button img {
    padding-left: 9%;
}

.hero__img-button::before {
    content: '';
    position: absolute;
    inset: 5px;
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    opacity: 0;
    transition: all 0.4s;
}

.hero__img-button:hover::before {
    opacity: 1;
}

/*========================FOOTER============================*/


.footer {
    background: #ab8261;
    padding: 60px 0 66px;
    color: var(--general-bg);
}

.footer__inner {
    display: grid;
    gap: 40px 30px;
    grid-template-columns: .9fr .9fr 1.1fr auto;
}

.footer__column:first-child {
    margin-top: -30px;
}

.footer__logo {
    display: block;
    max-width: 240px;
}

.footer__logo img {
    width: 100%;
}

.footer__loto-text {
    margin-bottom: 20px;
}

.footer__column-list {
    margin-bottom: -5px;
}

.footer__column-item {
    margin-bottom: 10px;
}

.footer__column-item:last-child {
    margin-bottom: 0;
}

.footer__column-link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 0;
}

.footer__column-link::before {
    content: '';
    position: absolute;
    top: -9px;
    left: -12px;
    width: 34px;
    height: 34px;
    background: var(--accent-color);
    z-index: -1;
    border-radius: 50%;
    opacity: 0;
    transition: all .4s;
}

.footer__column-link:hover::before {
    opacity: 1;
}

.footer__contact-item {
    margin-bottom: 10px;
}

.footer__contact-item:last-child {
    margin-bottom: 0;
}

.footer__column-tel {
    margin-bottom: 47px;
}

.footer__column-number {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.6;
    transition: all 0.4s;
}

.footer__column-number:hover {
    color: var(--accent-color);
}

.footer__column-copy {
    color: #dec5b1;
}

.socials {
    line-height: 0;
}

.socials__list {
    display: flex;
    gap: 15px;
}

.social__link path {
    transition: all .3s;
}

.social__link:hover path {
    fill: var(--accent-color)
}

/*================ABOUT SECTION=======================*/

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1.05fr;
    grid-template-rows: repeat(2, auto);
    gap: 40px 53px;
}

.about__img {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    grid-row: 1/ -1;
}

.about__img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 50%;
}

.about__img-control {
    background: #957b97e6;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 4.7%;
    left: 5%;
    max-width: 300px;
    text-align: left;
    padding: 15px 20px;
    color: var(--general-bg);
}

.about__img-button {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: var(--general-bg);
    border-radius: 50%;
    width: 78px;
    height: 78px;
}

.about__img-button::before {
    content: '';
    position: absolute;
    inset: 5px;
    border: 1px solid #ceaad0;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.4s;
}

.about__img-button:hover::before {
    opacity: 1;
}

.about__heading {
    margin-bottom: 30px;
}

.about__grid {
    display: grid;
    grid-template-columns: 1fr 1.05fr;
    gap: 32px;
}

.about__grid-item {
    background: var(--accent-bg);
    border-radius: 20px;
    padding: 29px 24px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.about__grid-img {
    border: 1px solid var(--general-text);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*========================EDUCATION PROGRAM=======================*/

.education__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    align-items: center;
    gap: 30px 15px;
}

.education__title {
    margin-bottom: 20px;
}

.tab-buttons {
    display: flex;
    align-items: flex-end;
    gap: 26px;
}

.tab-buttons__link {
    display: block;
    border-radius: 100px;
    padding: 14px 30px;
    box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0.3);
    white-space: nowrap;
    transition: all .4s;
}

.tab-buttons__link:hover {
    background: var(--accent-bg);
    box-shadow: none;
}

.tab-buttons__item:last-child {
    margin-right: 0;
}

.tab-buttons__link--active {
    background: var(--accent-bg);
    box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0)
}

.education__tab-content {
    display: none;
    margin-bottom: 40px;
}

.education__tab-content--active {
    display: block;
}


/*==================ACCORDION========================*/


.accordion-list__item {
    border: 1px solid var(--accent-color);
    border-radius: 20px;
    margin-bottom: 30px;
}

.accordion-list__item:last-child {
    margin-bottom: 0px;
}

.accordion-list__control {
    padding: 41px 30px;
    width: 100%;
    background-color: transparent;
    text-align: left;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'Gabriola';
    font-size: 42px;
    line-height: 0.9;
    color: var(--accent-text);
}

.accordion-list__control-icon {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    border: 1.50px solid var(--accent-color);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
}

.accordion-list__item--open .accordion-list__control {
    transition: all .4s;
}

.accordion-list__control-icon path {
    transition: all .4s;
}

.accordion-list__control-icon svg {
    margin-left: 2px;
}

.accordion-list__control:hover .accordion-list__control-icon {
    background-color: var(--accent-color);
    rotate: 90deg;
}

.accordion-list__control:hover .accordion-list__control-icon path {
    fill: var(--general-bg);
}

.accordion-list__control--open .accordion-list__control-icon {
    background-color: var(--accent-color);
    rotate: 90deg;
}

.accordion-list__control--open .accordion-list__control-icon path {
    fill: var(--general-bg);
}

.accordion-list__item--open .accordion-list__control-icon {
    background-color: var(--accent-color);
    rotate: 90deg;
}

.accordion-list__item--open .accordion-list__control-icon path {
    fill: var(--general-bg);
}

.accordion-list__content {
    max-height: 0;
    overflow: hidden;
    transition: all .4s;
}

.accordion-content {
    padding: 0 30px 40px;
    display: flex;
    gap: 80px;
}

.accordion-content__column:first-child {
    max-width: 507px;
    width: 100%;
}

.accordion-content__title {
    text-transform: uppercase;
    color: #ceaad0;
    line-height: 160%;
    margin-bottom: 20px;
}

.accordion-content__item {
    margin-bottom: 20px;
    display: flex;
}

.accordion-content__item:last-child {
    margin-bottom: 0;
}

.accordion-content__icon {
    border: 1px solid #ceaad0;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    flex-shrink: 0;
}

.accordion-content__text {
    max-width: 274px;
    width: 100%;
}

.education__buy {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}

.education__byu-banner {
    display: grid;
    gap: 40px;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr 1fr;
    max-width: 501px;
    width: 100%;
    flex-shrink: 0;
}

.education__sale {
    background-color: var(--accent-bg);
    border-radius: 20px;
    width: 287px;
    height: 232px;
    font-size: 20px;
    padding: 40px;
    grid-row: 1 / 3;
    position: relative;
}

.education__sale span {
    margin-left: 40%;
    font-size: 16px;
    position: absolute;
    right: 71px;
    bottom: 26px;
}

.education__sale-percent {
    font-family: 'Gabriola';
    line-height: 0.82;
    text-align: center;
    color: var(--accent-color);
    animation: percent;
    transform-origin: 0 0;
    animation: percent 2s infinite;
}

@keyframes percent {
    from {
        font-size: 74px;
    }

    50% {
        font-size: 82px;
        color: #ff9138;
    }

    to {
        font-size: 74px;
    }
}

.education__price-text {
    line-height: 1.6;
    text-transform: uppercase;
    color: #ceaad0;
}

.education__price-summ {
    font-family: 'Gabriola';
    font-size: 32px;
    line-height: 0.9;
    color: var(--general-text);
}

.education__price-summ--big {
    font-size: 50px;
    color: var(--accent-text);
}

.education__buy-button {
    grid-column: 1 / 3;
}

.education__bottom-img img {
    width: 100%;
}



/*================GALLERY SECTION=========================*/


.gallery__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin-bottom: 40px;
}

.gallery__img {
    justify-self: center;
    align-self: center;
}

.gallery__img img {
    max-width: 100%;
}

.gallery__content {
    display: flex;
    gap: 30px 15px;
    align-items: end;
    justify-content: space-between;
}

.gallery__info {
    max-width: 380px;
}

.gallery__title {
    margin-bottom: 40px;
}

.gallery__nav {
    position: relative;
    display: flex;
    align-items: center;
    gap: 98px;
    font-family: 'Gabriola';
    font-size: 42px;
    line-height: .9;
}

.gallery__prev,
.gallery__next {
    background: transparent;
    border: 1.5px solid var(--accent-color);
    border-radius: 50%;
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s;
}

.gallery__prev path,
.gallery__next path {
    transition: all .4s;
}

.gallery__prev:hover,
.gallery__next:hover {
    background-color: var(--accent-color);
}

.gallery__prev:hover path,
.gallery__next:hover path {
    fill: var(--general-bg);
}

.gallery__prev.swiper-button-disabled,
.gallery__next.swiper-button-disabled {
    border: 1.5px solid #e1d9e1;
    cursor: auto;
}

.gallery__prev.swiper-button-disabled path,
.gallery__next.swiper-button-disabled path {
    fill: #e1d9e1;
}

.gallery__prev.swiper-button-disabled:hover,
.gallery__next.swiper-button-disabled:hover {
    background-color: transparent;
}

.gallery__prev.swiper-button-disabled :hover path,
.gallery__next.swiper-button-disabled :hover path {
    fill: #e1d9e1;
}

.gallery__pagination {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: auto;
    width: auto;
    transform: translate(-50%, -50%);
}

.gallery__slide {
    border-radius: 20px;
    overflow: hidden;
}

.gallery__slide img {
    width: 100%;
}



/*================GALLERY SECTION=========================*/

.review__inner {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 40px;
    gap: 30px;
}

.review__info {
    max-width: 623px;
}

.review__title {
    margin-bottom: 20px;
}

.review__nav {
    display: flex;
    align-items: center;
    gap: 30px;
}


.review__prev,
.review__next {
    background: transparent;
    border: 1.5px solid var(--accent-color);
    border-radius: 50%;
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s;
}

.review__prev path,
.review__next path {
    transition: all .4s;
}

.review__prev:hover,
.review__next:hover {
    background-color: var(--accent-color);
}

.review__prev:hover path,
.review__next:hover path {
    fill: var(--general-bg);
}

.review__slider {
    overflow: visible;
}

.review__wrapper {
    margin-bottom: 40px;
}


.review__slide {
    background: var(--accent-bg);
    border-radius: 20px;
    padding: 30px 30px 40px;
    display: flex;
    gap: 30px;
    opacity: 0;
    height: auto;
}

.swiper-slide-prev.review__slide,
.swiper-slide-next.review__slide {
    opacity: .5;
}

.review__slide.swiper-slide {
    transform: scale(.9);
    transition: all .4s;
}

.swiper-slide-active.review__slide {
    transform: scale(1);
    opacity: 1;
}

.review__student {
    max-width: 165px;
    width: 100%;
    flex-shrink: 0;
    text-align: center;
}

.review__student-img {
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
}

.review__student-img img {
    width: 100%;
}

.review__student-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.6;
    text-transform: uppercase;
    color: var(--accent-text);
    margin-bottom: 5px;
}

.review__student-inst {
    color: #ceaad0;
}

.review__quote span {
    display: block;
    font-family: 'Gabriola';
    font-size: 32px;
    line-height: .9;
    color: var(--accent-text);
    margin-bottom: 10px;
}

.review__scrollbar {
    background: var(--accent-bg);
    height: 7px;
}

.review__scrollbar.swiper-scrollbar {
    position: static;
    width: 100%;
}

.review__scrollbar .swiper-scrollbar-drag {
    background: var(--accent-color);
}


/*================CONTACT SECTION=========================*/


.contact {
    padding: 140px 0;
    background: url('../img/decor/bg-contact.png') 50% 0% / cover no-repeat;
}

.contact__inner {
    display: flex;
    align-items: end;
    gap: 84px;
    position: relative;
}

.contact__inner::before {
    content: url('../img/decor/berries.png');
    position: absolute;
    top: -4%;
    left: 0%;
}

.contact__inner::after {
    content: url('../img/decor/berries-2.png');
    position: absolute;
    top: 4%;
    right: 0%;
}

.contact__img img {
    width: 100%;
    filter: drop-shadow(0px 4px 30px #c6b0a14d);
}

.contact__body {
    max-width: 420px;
}

.contact__title {
    margin-bottom: 20px;
}

.contact__text {
    margin-bottom: 30px;
}

.contact__label {
    margin-bottom: 10px;
}

.contact__input {
    display: block;
    width: 100%;
    background: #00000000;
    border: 1px solid #ac907a;
    border-radius: 100px;
    padding: 19px 41px 19px 28px;
    font-size: 16px;
    transition: all .4s;
    margin-bottom: 20px;
}

.contact__input::placeholder {
    color: #ac907a;
    transition: all .4s;
}

.contact__input:hover {
    border-color: var(--accent-color);
}

.contact__input:hover::placeholder {
    color: var(--accent-color);
}

.contact__check-label {
    display: flex;
    align-items: start;
    gap: 5px;
    max-width: 288px;
    font-size: 13px;
    margin-bottom: 20px;
}

.contact__check-label a {
    text-decoration: underline;
    transition: all .4s;
}

.contact__check-label a:hover {
    color: var(--accent-color);
}

.contact__checkbox {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1.5px solid #ac907a;
    border-radius: 4px;
    flex-shrink: 0;
    cursor: pointer;
    transition: all .4s;
    position: relative;
}

.contact__checkbox::before {
    content: ' ';
    position: absolute;
    inset: 0;
    background: url('../img/icons/check.svg') 50% 50% no-repeat;
    opacity: 0;
    transition: all .4s;
}

.contact__checkbox:checked:before {
    opacity: 1;
}

.contact__checkbox:hover {
    border: 1.5px solid var(--accent-color);
}

.contact__checkbox:checked {
    background: var(--accent-color);
    border: 1.5px solid var(--accent-color);
}


/*=======================================================*/
/*=======================================================*/

/*==================МЕДИАЗАПРОСЫ========================*/

/*=======================================================*/
/*=======================================================*/

@media (max-width:1200px) {
    .hero__img-control {
        position: static;
        max-width: none;
        margin-top: 30px;
    }

    .hero__img {
        margin: 0;
        max-width: 377px;
    }

    .footer__inner {
        grid-template: repeat(2, auto)/ repeat(3, auto);
        justify-content: space-between;
    }

    .footer__column:last-child {
        grid-column: 1 / -1;
        text-align: center;
    }

    /*=======================*/
    .education__top {
        flex-direction: column;
        align-items: stretch;
    }

    .tab-buttons {
        flex-wrap: wrap;
    }

    .contact__inner::after {
        top: -20%;
    }

}

@media (max-width: 1100px) {
    .about__img {
        grid-row: auto;
    }

    .about__grid {
        grid-column: 1/-1;
    }

    .about__content {
        align-self: center;
        text-align: center;
    }

    /*================*/
    .accordion-list__control {
        padding: 25px;

    }

    .accordion-content {
        gap: 30px;
    }

    .contact__inner {
        align-items: center;
        gap: 30px;
    }
}

@media (max-width: 900px) {
    .nav {
        background: var(--general-bg);
        position: fixed;
        inset: 0;
        z-index: 2;
        display: block;
        padding: 26vh 15px 30px;
        font-size: 25px;
        /*скрываем меню изначально*/
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all .4s;
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu .nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
    }

    .footer__inner {
        grid-template: repeat(3, auto)/ repeat(2, auto);
        justify-content: space-around;
    }

    .footer__column:nth-child(3) {
        grid-column: 1 / -1;
        text-align: center;
    }

    /*---------------------*/

    .about__title {
        font-size: 60px;
    }

    /*==========================*/
    .education__bottom-img {
        display: none;
    }

    .education__byu-banner {
        max-width: NONE;
    }

    .gallery__inner {
        grid-template: none;
    }

    .gallery__info {
        max-width: none;
    }

    .gallery__img {
        display: none;
    }

    .review__scrollbar.swiper-scrollbar {
        margin: 0 auto;
        width: 60%;
    }

    .contact__img {
        display: none;
    }

    .contact__inner {
        justify-content: center;
    }
}

@media (max-width:800px) {
    html {
        scroll-padding-top: 5vw;
    }

    .hero__content {
        max-width: none;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 100%;
    }

    .hero__img-control--mobile {
        display: flex;
        margin: 0 0 30px;
    }

    .hero__img {
        display: none;
    }

    /*============================*/

    .about__inner {
        grid-template: none;
    }

    .about__img {
        max-width: 500px;
        justify-self: center;
    }

    .about__grid {
        grid-template-columns: none;
    }

    /*============================*/
    .tab-buttons {
        gap: 10px;
    }

    .tab-buttons__link {
        padding: 6px 20px;
    }

    .accordion-content {
        flex-direction: column;
    }

    .accordion-content__column:first-child {
        max-width: none;
    }

    .accordion-content__text {
        max-width: none;
    }

    /*============================*/
    .review__inner {
        align-items: stretch;
        flex-direction: column;
    }

    .review__nav {
        align-self: end;
    }

    .contact__inner::before {
        content: none;
    }
}


@media (max-width: 600px) {
    .main__about {
        padding: 60px 0 80px;
    }

    .headdder__hero {
        padding-bottom: 80px;
    }

    .title {
        font-size: 12vw;
    }

    .footer__inner {
        justify-content: center;
        grid-template: none;
        text-align: center;
        gap: 0;
    }

    .footer__column:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .footer__column:nth-child(2) {
        margin-bottom: 40px;
    }

    .footer__column:nth-child(3) {
        margin-bottom: 10px;
    }

    /*==========*/
    .about__title {
        font-size: 12vw;
    }

    .about__grid-item {
        padding: 11px 24px;
    }

    .about__grid {
        gap: 10px;
    }

    .about__img-control {
        bottom: 0;
        left: 0;
        right: 0;
        max-width: none;
        border-radius: 0;
        padding: 10px 15px;
        background: #7f6781b5;
    }

    /*========================*/
    .education__title {
        text-align: center;
    }

    .education__top {
        text-align: center;
    }

    .tab-buttons {
        justify-content: center;
    }

    .accordion-list__control {
        padding: 17px 30px;
        font-size: 28px;
    }

    .accordion-list__control-icon {
        width: 26px;
        height: 26px;
    }

    .accordion-list__control-icon svg {
        width: 10px;
    }

    .education__byu-banner {
        gap: 15px;
    }

    .education__sale {
        grid-row: auto;
        grid-column: 1 / -1;
        justify-self: center;
    }

    .gallery__content {
        flex-direction: column;
    }

    .gallery__inner {
        margin-bottom: 20px;
    }

    .main__gallery,
    .main-education,
    .main__review {
        padding: 0 0 80px;
    }

    .review__inner {
        margin-bottom: 20px;
    }

    .review__slide {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .contact {
        padding-bottom: 80px;
    }

    .contact__title,
    .contact__text {
        text-align: center;
    }

    .contact__inner::before {
        display: none;
    }
}

@media (max-width: 450px) {
    .moadal__img {
        width: 50%;
        margin-top: -45px;
    }

    .modal__windows {
        padding: 0 15px 45px;
    }

    .moddal__title {
        font-size: 28px;
    }

    .accordion-list__content {
        padding: 17 px 15px;
    }

    .accordion-content {
        padding: 0 15 px 30px;
    }

    .accordion-content__item {
        margin-bottom: 10px;
    }

    .education__byu-banner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gallery__nav {
        font-size: 40px;
    }

    .review__slide {
        padding: 20px 10px 30px;
    }
}